<% service_url = base_url + service[:resource] %>
<%= link_to "#{service[:method]} #{service[:resource]}(#{service[:parameters].map{|p| p[:name]}.join(', ')})", service_path(method: service[:method], resource: service[:resource]) %> - <%= "#{service[:description]}" %>
</br>
