<%= @api[:title] %></br>
<%= @api[:description] %></br>
<%= @api[:base_url] %></br>
</br>
<%= render partial: 'service', collection: @api[:services], as: :service, locals: {base_url: @api[:base_url]} %>
