<%= form_tag @base_url + @service[:resource], method: @service[:method] do %>
  <% @service[:parameters].each do |parameter| %>
    <%= label_tag parameter[:name] %><%= text_field_tag parameter[:name], nil, placeholder: parameter[:description] %></br>
  <% end %>
  <%= submit_tag "Excuta" %>
<% end %>
